.line {
  width: 95%;
  border: 1px solid #003868;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  row-gap: 20px;
}

.newTaskBtn {
  font-size: 1.5rem;
  color: #ffffff;
  background-color: #77dd77;
  border: none;
  border-radius: 25px;
  padding-left: 22px;
  padding-right: 22px;
  transition: 0.3s ease-in-out;
}

.newTaskBtn:hover {
  cursor: pointer;
  background-color: #242424;
}

.editLogBtn {
  font-size: 1.125rem;
  color: #ffffff;
  background-color: #003868;
  border: none;
  border-radius: 25px;
  padding-left: 22px;
  padding-right: 22px;
  transition: 0.3s ease-in-out;
}

.editLogBtn:hover {
  cursor: pointer;
  background-color: #002b50;
}
