.container {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}

.empty-list-container {
  color: #ffffff;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
}

.task {
  color: #ffffff;
  width: 600px;
  margin-left: 25px;
}

.time {
  color: #ffa500;
  margin-right: 25px;
}
