.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 1px 25px 1px 25px;
  border-radius: 50px;
  background-color: #01315A;
}

.input,
.btn {
  border: none;
  font-size: 1.875rem;
}

.input {
  width: 360px;
  background-color: #01315A;
  color: #ffffff;
}

.input::placeholder {
    color: #012443;
}

.input:focus {
  outline: none;
}

.input:focus::placeholder {
    color: transparent;
}

.btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #ffffff;
}

.btn:hover {
    cursor: pointer;
    background-color: #242424;
}

.status, .done {
  color: #ffa500;
  text-align: center;
}