.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 25px;
  margin-top: 25px;
}

.saveBtn,
.deleteBtn {
  border: none;
  border-radius: 25px;
  font-size: 1.125rem;
  color: #ffffff;
  background-color: #ffa500;
  width: 125px;
}

.saveBtn:hover,
.deleteBtn:hover {
  cursor: pointer;
  background-color: #d18903;
}
