.container {
  background-color: #01315a;
  width: 75%;
  border-radius: 25px;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
}

.leftContainer {
  margin-left: 25px;
  text-align: left;
}

.mainHeading {
  font-size: 3.75rem;
  margin-top: 0;
  margin-bottom: 0;
}

.rightContainer {
  margin-right: 25px;
  text-align: right;
}

span {
  color: #ffa500;
}

.line {
  width: 95%;
  border: 1px solid #003868;
}
