* {
  /* outline: 1px solid red; */
}

.container {
  background-color: #01315a;
  width: 75%;
  border-radius: 25px;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
}

.left-container {
  margin-left: 25px;
  text-align: left;
}

.right-container {
  margin-right: 25px;
  text-align: right;
}

.total {
  font-size: 1.5rem;
}

.filter-btn {
  font-size: 1.5rem;
  color: #ffffff;
  background-color: #5787af;
  border: none;
  border-radius: 25px;
  padding-left: 22px;
  padding-right: 22px;
}

.filter-btn:hover {
  cursor: pointer;
}

span {
  color: #ffa500;
}

.line {
  width: 95%;
  border: 1px solid #003868;
}
